 #pagecontent {
	margin-top: 89px;
	}
body{
	background-color:  Lightblue;}
<body>
h1{color: White; text-align: center; font-size: 48px;}
p{font-family: verdana;font-size:20px;color: Black; }
.boldclass{font-weight: bold;}
#bigID{font-size: 24px;}
