 #pagecontent {
	margin-top: 89px;
	}
body{
	 background-color: Lightblue
	}
h1{color: White; text-align: center; font-size: 48px;}
p{font-family: verdana;font-size:22px;color: Black; }
.boldclass{font-weight: bold;}
#bigID{font-size: 24px;}

    
